.smallHeader{
	height: 42px;
	border-bottom: 1px solid #E6E6E6;
	width: 100%;
	padding: 12px 150px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.location{
	display: flex;
	flex-flow: row nowrap;
}

.location__text{
	padding: 1px 0;
	font-size: 12px;
	line-height: 1.3;
	font-weight: 400;
	color: #666666;
}